* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #e8eee0;
}
/* Header */
.dropdown-item {
  padding-top: .8em!important;
  padding-bottom: .8em!important;
}
/* End Header */
/* Custom css */
button:focus,
button,
input,
input:focus {
  outline: none!important;
  box-shadow: none!important;
}
a {
  text-decoration: none!important;
}
.__title-step {
  background: #e8eee0;
  display: inline-block;
  clip-path: polygon(0px 0px, 70% 0%, 100% 100%, 0% 100%);
  color: #9dcc5c;
}
.bg-title {
  background: #abccab;
}
.btn-buy-bg-custorm {
  background: #26a026;
  color: #fff;
  border-radius: 50px!important;
}
.name-product {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* End custom css */
/* Animation */
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* End animation */